################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/.vs/ConsoleApplication1/v17/Browse.VC.opendb
/test_header/.vs/test_header/v17/Browse.VC.opendb
/Test_CRUD/.vs/Test_CRUD/v17/Browse.VC.opendb
